@charset "UTF-8"

header{
    background-color: #000000;
    color: #ffffff;
}

.cabecalho {
    color: #ffffff;
    margin-left: 660px;
    text-align: center;
    display: flex;
}

.cabecalho-lista1 {
    color: white;
    margin-left: 260px /*alinhamento a esquerda*/
    padding: 20px; /*espaçamento vertical*/
    
}

.cabecalho-lista-2 {
    color: white;
    margin-left: 40px;
    padding: 20px;
}

body{
    background-color: #fcfcad;
    color: black;
}

.titulo-2 {
    justify-content: center;
    color: black;
}

.parafagrafo-1 {
    margin-left: 20px;
    justify-content: center;
}

.titulo-3 {
    color: black;
    justify-content: center;
    padding: 40px;
}

.parafagrafo-2 {
    margin-left: 20px;
    justify-content: center;
}

.Arduino {
    width: 40%;
    margin-left: 30px;
    margin-right: 50px;
}

.protoboard {
    width: 40%;
    margin-right: 50px;
}

.multimetro {
    width: 40%;
    margin-right: 30px;
}

.capacitor {
    width: 40%;
    padding: 45px;
    margin-left: 30px;
    margin-right: 50px;
}

.sensor-LDR{
    margin-right: 50px;
    width: 40%;
}

.LED {
    width: 40%;
    margin-right: 50px;
}

footer {
    background-color: black;
    color: white;
}

p  {
    text-align: center;
    padding: 20px;
}